<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Donation</title>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', path='/jquery-3.5.0.min.js') }}"></script>
		 <script>
		$(document).ready(function(){
		$("div.hidden").hide();
			$("#hide").click(function(){
				$("div.hidden").hide();
			});
			$("#show").click(function(){
				$("div.hidden").show();
			});
		});
		</script>
		
	
	</head>
<html>
	<body>
	<div class="wrapper">
	  <header> </header>
	  <nav>
	  </nav>
	  <section>
	   <h1><u>Support the future of student</u></h1>
	   <p><b>My Donation</b> </p>
	   
		<form method="post">
			{% for item in data %}
			<p>Your name ?</p>	
			<div class="imput">
				<input class="" type="text" maxlength="10" name="yourname" value={{item.yourname}}/>
			</div>
			<br>
			<p>Your age ?</p>	
			<div class="imput">
				<input class="" type="text" maxlength="10" name="age" value="{{item.yourname}}"/>
			</div>
			<br>
			<p>Your sex ?</p>		
			<div class="select">
				<select class="" name="sex" >  
					<option value="M"> Male </option>  
					<option value="F"> Female </option>  
				</select> 
			</div>
			
			
			<br>
			<p>How many will you give us ?</p>
			<div class="select">
				
				<select  id="donation">
					<option>10</option>
					<option>50</option>
					<option>100</option>
					<option>500</option>
				</select> €
			</div>
			<br>
			<p>Where did you find us ?</p>
			<div class="select">
				<select class="" name="source" >  
					<option value="Ads"> Ads </option>  
					<option value="SEO"> SEO </option>  
					<option value="Direct"> Direct </option>  
				</select>
			
			</div>
			<br>
			<!--
			<p>Which browser do use now ?</p>
			<div class="select">
				<select class="" name="browser" >  
					<option value="FireFox"> FireFox </option>  
					<option value="Chrome"> Chrome </option>  
					<option value="Safari"> Safari </option> 
					<option value="IE"> IE </option>  
					<option value="Opera"> Opera </option>  
				</select>
			</div>
			<br>
			<br>
			-->
			
			<div class="hidden">
			
				<p>
					<input class="hiddenA" id="deviceid" name="deviceid" type="" value="{{item.device_id}}">
					<input class="hiddenA" id="ip_address" name="ip_address" type="" value="{{item.ip_address}}">
				</p>
				<p>
					<input class="hiddenA" id="signup_time" name="signup_time" type="" value="{{item.signup_time}}">
					
				</p>
				<button class="button_view" id="hide">Hide</button>
			</div>
			<br>
			<br>
			<div>	
				<div name="" >
				<button type="submit" name="submit" value="Submit" class="submit">Donate</button>
				</div>
			</div>
				
				{% endfor %}
		</form>
			<div class="result">
			<p>Result: </p>
			<code>
				For fraud implement curl action with loop (timediff)
			<code>
			</div>
			<div align="right" >
				<button class="button_view" id="show">Show</button>
			</div>
		</div>
	</section>
	</body>
</html>

