<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Donation</title>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', path='/jquery-3.5.0.min.js') }}"></script>
		 <script>
		$(document).ready(function(){
		$("div.hidden").hide();
			$("#hide").click(function(){
				$("div.hidden").hide();
			});
			$("#show").click(function(){
				$("div.hidden").show();
			});
		});
		</script>
	</head>
<html>
	<body>
	    <div class="wrapper">
            {% for item in data %}
	        <header> </header>
	        <nav>
                
	        </nav>
	        <section>
                <div class="message">
                <img src="{{ url_for('static', path='') }}{{item.icon}}" width=6% height=6% >
                {{item.message}}
                </div>
                
               
                {% endfor %}

	        </section>
        </div>
	</body>
</html>

