<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Donation</title>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', path='/jquery-3.5.0.min.js') }}"></script>
		 <script>
		$(document).ready(function(){
		$("div.hidden").hide();
			$("#hide").click(function(){
				$("div.hidden").hide();
			});
			$("#show").click(function(){
				$("div.hidden").show();
			});
		});
		</script>
		
	
	</head>
<html>
	<body>
	<div class="wrapper">
	  <header> </header>
	  <nav>
	  </nav>
	  <section>
	   <h1><u>Support the future of student</u></h1>
	   <p><b>My Donation</b> </p><br>
	   
	   <form method="POST" enctype="multipart/form-data">
			{% for item in data %}
			<!--p>Your name ?</p>	
			<div class="imput">
				<input class="" type="text" maxlength="10" name="yourname" value={{item.yourname}}/>
			</div-->
			
			Age:&nbsp&nbsp
			<input class="" type="text" maxlength="2" id="age" name="age" size="1" value="{{item.age}}"/>
			&nbsp &nbsp &nbsp &nbsp &nbsp Donate:&nbsp&nbsp
			<input class="" type="text" maxlength="5" id="purchase_value" name="purchase_value" size="1" value="{{item.purchase_value }}"/>&nbsp€
			
			
			<p>Your sex ?</p>		
			<div class="select">
				<select class="" id="sex" name="sex" >  
					<option value="M"> Male </option>  
					<option value="F"> Female </option>  
				</select> 
			</div>
			<!--
			<p>How many will you give us ?</p>
			<div class="select">
				
				<select  id="donation">
					<option>10</option>
					<option>50</option>
					<option>100</option>
					<option>500</option>
				</select> €
			</div>
		-->
			<p>Where did you find us ?</p>
			<div class="select">
				<select class="" id="source" name="source" >  
					<option value="Ads"> Ads </option>  
					<option value="SEO"> SEO </option>  
					<option value="Direct"> Direct </option>  
				</select>
			
			</div>
			<br>
			
			<p>Which browser do use now ?</p>
			<div class="select">
				<select class="" name="browser" >  
					<option value="FireFox"> FireFox </option>  
					<option value="Chrome"> Chrome </option>  
					<option value="Safari"> Safari </option> 
					<option value="IE"> IE </option>  
					<option value="Opera"> Opera </option>  
				</select>
			</div>
			<br>
			<br>
			
			
			<div class="hidden">
				device_id: <input class="hiddenA" id="device_id" name="device_id" type="" size="13" value="{{item.device_id}}">
				<br> ip_address: <input class="hiddenA" id="ip_address" name="ip_address" type="" size="10" value="{{item.ip_address}}">
				<br> signup_time: <input class="hiddenA" id="signup_time" name="signup_time" type="" size="15" value="{{item.signup_time}}">
				<br> purchase_time: <input class="hiddenA" id="purchase_time" name="purchase_time" type="" size="7" value="{{item.purchase_time}}">
				<button class="button_view" id="hide">Hide</button>
			</div>
			
			<br>
			<div>	
				<div name="" >
				<button type="submit" name="submit" value="Submit" class="submit">Donate</button>
				</div>
			</div>
				
				{% endfor %}
		</form>
			<div class="result">
			
			</div>
			<div >
				<button class="button_view" id="show">Show</button>
			</div>
		</div>
	</section>
	</body>
</html>

